@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --dimgray:var(dimgray);
    --white:var(white);
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
}

.nav ul{
    color: #fff;
    
}

.nav ul li{
    display: inline-block;
    padding: 50px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.main img{
    padding: 10px 10px;
}

.bnts{
    padding: 10px;
    margin-top: 25px;
    display: flex;
    gap: 5px;
}

.bnt1 button{
    background-color: midnightblue;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid white;
    font-weight: bold;
    cursor: pointer;
}

.bnt2 button{
    background-color: midnightblue;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid white;
    font-weight: bold;
    cursor: pointer;
}

.bnt3 button{
    background-color: midnightblue;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid white;
    font-weight: bold;
    cursor: pointer;
}

.texto{
    color: #fff;
    line-height: 22px;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
}

.play{
    padding: 10px;
    background-color: darkturquoise;
    width: 140px;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 10px;
    border-bottom: 3px solid white;
    cursor: pointer;
}

@media (max-width: 785px){
    ul{
        display: none;
    }

    .imagemmain{
        text-align: center;
    }

    .container{
        overflow: hidden;
        margin-top: auto;
    }

    .bnts .bnt1{
        margin: auto;
    }

    .bnts .bnt2{
       margin: auto;
    }

    .bnts .bnt3{
        margin: auto;
    }

    .play{
      margin: auto;
      margin-top: 30px;
    }

    .texto{
        width: 350px;
        margin: auto;
    }

}

/*opcional
footer .cards{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 23em;
    margin-top: 1.5em;
}
.cards .card{
    height: 180px;
    max-width: 300px;
    box-shadow: 12px 0px 32px 2px black;
    margin-left: -120px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}
.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards .card:hover{
    transform: translateY(-16px) rotate(3deg);
}
.cards .card:hover ~ .card{
    transform: translateX(140px);
}
*/